@page "/client/detail/{ClientId:int}"

@inject IClientService _clientService

<h1 class="text text-primary">Client Details</h1>

@if (clientDetail is null)
{
    <p class="text-warning">There is no information for this Client</p>
}
else
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Client #@clientDetail.ClientId</span>
                <span class="text-muted">Membership Tier: @clientDetail.MembershipTierName</span>
            </div>
            <div class="card-body">
                <h4 class="card-title">@clientDetail.FirstName @clientDetail.LastName</h4>
                <p class="card-text">Email: @clientDetail.Email</p>
                <p class="card-text">Height (inches): @clientDetail.HeightInches</p>
                <p class="card-text">Weight (lbs): @clientDetail.WeightLbs</p>
                <p class="card-text">Goal Weight (lbs): @clientDetail.GoalWeight</p>
                <p class="card-text">Membership Tier: @clientDetail.MembershipId</p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Exercise Plan:</span>
                @if (clientDetail.ExerciseId != null)
                {
                    <p>@clientDetail.ExercisePlanName</p>
                }
                else
                {
                    <p class="text text-danger">Client has no Exercise Plans to display.</p>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href="/client/edit/@clientDetail.ClientId" class="btn btn-outline-primary">Edit</a>
                <a href="/client" class="btn btn-secondary mt-2">Back to Index</a>
            </div>
        </div>
    </div>
}

@code{
    [Parameter]
    public int ClientId { get; set; }
    public ClientDetail clientDetail { get; set; }
    public List<ClientListItem> clients { get; set; } = new List<ClientListItem>();
    protected override async Task OnInitializedAsync()
    {
        clientDetail = await _clientService.GetClient(ClientId);
    }
    @* ClientDetail luna = new ClientDetail()
    {
        ClientId = 1,
        FirstName = "Luna",
        LastName = "Holly",
        Email = "l.h@email.com",
        HeightInches = 35,
        WeightLbs = 15,
        GoalWeight = 10,
        MembershipId = 1,
        Workouts = new()
        {
            ExerciseList.Burpees,
            ExerciseList.High_Knees,
            ExerciseList.Jumping_Jacks
        } 
    }*@
}